{% extends 'index.html' %}
{% load static %}

{% block title %}Skill{% endblock%}

{% block body %}

<section class="skillSection">
    <div class="skillContainer">
        {% if skill %}
        {% for i in skill %}
        <div class="singleSkill">
            <div class="imageSkill">
                <img src="{{i.image.url}}">
            </div>
            <div class="skillText">
                <span><sup>Title : </sup>  {{ i.title }}</span>
                <h2><sup>Category : </sup>  {{ i.skill_category }}</h2>
                <p><sup>Description : </sup>  {{ i.description }}</p>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div>
            <h3><b>No skill to show!</b></h3>
        </div>

        {% endif %}

    </div>

    <div class="addSkillBtn">
        <a href="{% url 'add_skill' %}">+ADD SKILL</a>
    </div>



</section>




{% endblock %}