{% extends 'index.html' %}
{% load static %}

{% block title %}BLOG{% endblock%}

{% block  body %}


<main>
  <section class="projectSection">
    <h3>All blogs</h3>
     
  
   
      
      <div class="projectContainer">
        {% if blog %}
        {% for i in blog %}
  
        <div class="singleBlog">
  
          <div class="imageBlog">
            <img src="{{ i.image.url }}">
          </div>
  
           <div class="blogText">
            <span>{{ i.create_date }}</span>
            <h2>Title : {{ i.title }} <sup>(author: {{i.author}})</sup></h2>
            <p>{{ i.content }}</p>
           </div>
         
        </div>
        {% endfor %}
  
        {% else %}
        <div>
          <h3><b>NO BLOG TO SHOW!</b></h3>
        </div>
  
        {% endif %}
  
      </div>

      <div class="addProjectBtn">
          <a href="{% url 'add_blog' %}">ADD BLOG+</a>
        </div>
   
  </section>
</main>

{% endblock %}