@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");



* {
        margin: 0;
        padding: 0;
}



body {
        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
}



nav {
        background-color: black;
}


.navContent {

        display: flex;
        justify-content: space-around;
        align-items: center;

}


.logoNav {
        width: 100px;
        cursor: pointer;
}


.logoNav img {
        width: 50%;
        border-radius: 30px;

}


.navList ul {
        display: flex;
        justify-content: center;

        align-items: center;
        text-align: center;
        margin: 10px;
        padding: 8px 5px;

}



.navList ul li {
        list-style: none;
        text-align: center;

}


.navList ul li a {
        display: block;
        justify-content: center;
        text-decoration: none;
        margin: 15px;
        color: white;
        font-size: 18px;
}

















/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
        .navContent {
                width: 100%;
                padding: 0 20px;
                /* Adjust as needed */
        }

        .navList ul {
                flex-direction: column;
                align-items: center;
                text-align: center;
        }

        .navList ul li {
                margin-bottom: 10px;
                /* Adjust spacing between items */
        }

        .navList ul li:last-child {
                margin-bottom: 0;
                /* Remove margin from last item */
        }

        .logoNav {
                width: 100px;
                /* Allow logo to resize */
        }

        .logoNav img{
                width: 50%;
                /* Allow logo to resize */
        }
        .navList {
                display: none;
                /* Hide nav list by default */
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: black;
                text-align: center;
        }

        .navList.active {
                display: flex;
                flex-direction: column;
        }

        .navList ul {
                flex-direction: column;
        }

        .navList ul li {
                margin: 15px 0;
        }

        .navList ul li a {
                color: white;
                font-size: 18px;
                /* Adjust font size */
        }

        .navList ul li a:hover {
                color: #ddd;
                /* Adjust hover color */
        }
}

/* Toggle Button Styles */
.checkbox {
        display: none;
}

.checkbox+label {
        display: block;
        cursor: pointer;
        padding: 10px;
}

.checkbox+label::before {
        content: "\2630";
        font-size: 24px;
        color: white;
}

.checkbox:checked+label::before {
        content: "\2715";
}