.homeSection {
        background-color: rgba(250, 235, 215, 0.466);
        height: auto;
        min-height: 95vh;
}

.homeContainer {
        margin: 10px auto;
        padding: 80px 10px 10px 20px;
        display: flex;
        justify-content: center;
        gap: 50px;
}

.homeTextContent {
        max-width: 700px;
        display: flex;
        flex-direction: column;

        letter-spacing: 1px;
        word-spacing: 3px;

}

.homeSubtitle {
        color: #4f0652;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 800;
        font-style: italic;
        margin-bottom: 2rem;
}

.title {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 3rem;
        margin-bottom: 1rem;
}

.title span {
        display: block;
        font-weight: bold;
        margin-top: 10px;
}

.homeDescription {
        line-height: 2.2rem;
        color: #15202f;
        margin-bottom: 2rem;
        font-size: 18px;
}

.image {
        width: 100%;
        max-width: 400px;
        text-align: center;
}

.image img {
        width: 100%;
        max-width: 400px;
        min-width: 300px;
        border-radius: 50%;
        position: relative;
}

.showprojectBtn a {
        color: white;
        font-size: 17px;
        background-color: black;
        text-decoration: none;
        padding: 7px 10px;
        border-radius: 10px 5px 10px 5px;
        cursor: pointer;
        transition: 0.5s;
}

.showprojectBtn a:hover {
        background-color: white;
        color: black;
}

/* Media Queries */
@media only screen and (max-width: 1099px) {
        .homeContainer {
                flex-direction: column;
                align-items: center;
        }

        .homeTextContent {
                width: 100%;
                order: 2;

        }

        .title {
                font-size: 2.2rem;
                line-height: 2.8rem;
        }

        .homeDescription {
                font-size: 17px;
        }

        .image {
                width: 100%;
                max-width: 350px;
                order: 1;
               
        }

        .image img {
                width: 100%;
                max-width: 350px;
                min-width: 250px;
        }
}

@media only screen and (max-width: 680px) {
        .homeContainer {
                flex-direction: column;
                align-items: center;
        }

        .homeTextContent {
                width: 100%;
                order: 2;

        }

        .title {
                font-size: 2rem;
                line-height: 2.5rem;
        }

        .homeDescription {
                font-size: 16px;
        }

        .image {
                width: 100%;
                max-width: 300px;
                order: 1;
        }

        .image img {
                width: 100%;
                max-width: 300px;
                min-width: 200px;
        }
}