/* 
1. Home -> 1 to 321
2. Login -> 321 to 519

3. Register -> 520 to 573

4. About -> 


*/

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
  /* --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff; */
  --max-width: 1250px;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.logo img {
  width: 10%;
  position: relative;
  height: 10%;
  border: 2px solid #1f2937;
  border-radius: 30%;
  overflow: hidden;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.home-section {
  background-color: var(--extra-light);
}

.home-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.home-subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  
}

.home-title span {
  font-weight: 600;
}

.home-description p{
  line-height: 2.2rem;
  color: var(--text-light);
  margin-bottom: 2rem;
  font-size: 18px;
}

.showproject-btns {
  display: flex;
  gap: 1rem;
}

.showproject-btns .btns {
  color: rgb(84, 76, 76);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0.7rem 1rem;
  outline: none;
  border: 2px solid rgb(150, 128, 128);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btns:hover{
  background: #1a539e;
}


.user-img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
}

.sub-menu-wrap {
  position: absolute;
  top: 90%;
  right: 3%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 500px;
}

.sub-menu {
  background: white;
  padding: 20px;
  margin: 10px;
}

.user-info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown-profile-pic {
  width: 90px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
  position: relative
 }
 
 .dropdown-profile-pic img{
   width: 100px;
 }
 


.user-info p {
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}


.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #795a5a;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background: #efd5d5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 20px;
  transition: transform 0.5s;
}


.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}



.image {
  display: grid;
  place-items: center;
}


.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}


@media (width < 700px) {
  nav input[type="checkbox"] {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav input[type="checkbox"]:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .home-container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

 
}






/*----Login-------*/

.container {
  background-color: linear-gradient(to top, #e6baba, #98a0b8);
  color: #1f2937;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: auto auto;
  padding: 0;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(161, 151, 151, 0.35); 
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
 top: 220px;
  
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 13px;
}

.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button{
  background: linear-gradient(to right, #4b549e, #6081e4);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}


.container .hidden{
  background-color: transparent;
  background:  linear-gradient(to right, #bdaaaa, #98a0b8);
  font-size: 13px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 1000px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  border-color: #3b3a3a;
}



.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 40px;
  height: 100%;
  
}



.form-group{
  background-color: #eee;
  border: none;
  margin: 6px 0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}



.form-container{
  position: absolute;
  top: 8px;
  height: 100%;
  
}


.sign-in{
  left: 0;
  width: 50%;
  z-index: 1;
}




.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}





.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}


.toggle{
 
  height: 100%;
  background: linear-gradient(to top, #6c4a3e, #1a539e);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
 
}


.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}




/*-----Register-----*/


.register{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 112px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
}


.register h2{
  
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  
}


.register form{
  margin-top: 25px;
}


.register-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

button .signup-button{

  width: 150px;
  background :blueviolet;
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

button .signup-button:hover{
  width: 150px;
  background: yellow;
  border: 1px solid black;
  color: #fff;
}


/*--About---*/


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
}



.title-one{
  
  letter-spacing: 1px;
  color: #1f2937;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 30px;
}

.title-two{
  max-width: var(--max-width);
  font-size: 1.5rem;
  position: inherit;
  font-weight: 800;
  line-height: 45px;
  color: #1f2937;
  margin-bottom: 20px;
}

.about-description{
  line-height: 40px;
  color: #1f2937;
  margin-bottom: 80px;
  text-align: left;
  letter-spacing: 1px;

}


.resume-btns a{
  
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  word-spacing: 0.8px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid #a01f1f;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  
}

.resumes{
  position: relative;

  background-color: #1f2937;
  color: #fff;
}

.resumes:hover{
  background-color: #be2424;
}

.about-image{
  display: grid;
  place-items: center;
}

.about-image img{
  width: min(20rem, 70%);
  margin-top: 100px;
  border-radius: 80px;
}


/*----Contact------*/


.contact{
  width: 62%;
  border: 1px solid #ddd;
  margin: 20px auto;
  margin-top: 150px;
  padding: 5%;
  text-align: left;
  font-size: 20px;
  background-color: #ddd;
}

.contact h2{
  font-weight:700;
  font-size: 40px;
  text-align: center;
}


.contact form{
  margin-top: 25px;
}


.contact-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

 .contact-button{
  width: 150px;
  background :rgb(102, 97, 154);
  color: #e9e4ed;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

button .contact-button:hover{
  width: 150px;
  background: rgb(214, 214, 205);
  border: 1px solid black;
  color: #fff;
}

.footer-container{
  width: 62%;
  border: 1px solid #ddd;
  margin: 40px auto;
  text-align: left;
  font-size: 20px;
  background: #ddd;
}

.footer-container h1{
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}


.social-icons {
  display: flex;
  justify-content: center;
 

}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: rgb(100, 63, 63);
  opacity: 0.9;
}


.social-icons a:hover {
  background-color: balck;
  transition: 0.5s;
}

.social-icons a:hover i {
  color: rgb(98, 91, 131);
  transition: 0.5s;
}


/*----Show Profile---*/

.profile-container{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  text-align: center;
  padding: 40px 90px;
  columns: #ddd;
  position: relative;
  border-radius: 20px;
}

.profile-box p{
  font-size: 35px;
}

.profile-box h1{
 margin: 20px 20px;
 padding: 5px 5px;
 font-size: 25px;
}


.profile-pic {
 width: 150px;
 border-radius: 50%;
 background: #fff;
 padding: 6px;
 
}

.profile-pic img{
  width: 100px;
}

.editprofile-button{

  width: 150px;
  border: 1px solid rgb(14, 6, 6);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.editprofile-button:hover{
  border: 1px solid black;
}




/*----Show Project and Inside everything-----*/

.project-btns a {
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.project {
  background-color: var(--primary-color);
  color: #7b6f6f;
}

.project:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}





.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
}


.project-title h1 {
  color: #000;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to top, #e1dcdb, #627c9f);;
  color: #121213;
  

}

.add-project {
  text-align: right;

}


.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  background-color: #d7d9df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(173, 52, 62, 0.1);
  margin-bottom: 30px;
  width: calc(33.33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
}

.project-item .project-img {
  height: 180px;
  background-color: #a19191;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-item .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item .project-text span {
  color: #1b1818;
  font-size: 20px;
}
.project-item .project-text h3 {
  gap: 2rem;
  font-size: 0rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58) ;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  
}

.btns {
  background: linear-gradient(to left #454359 #36639e);
  color: #7b6f6f;
}


.btns:hover {
  background-color: #7d7a7a ;
}

.project-item .project-text h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2b7a85;
}

.project-item .project-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #151111;
  margin-bottom: 10px;
}

.project-item .project-text a {
  display: inline-block;
  text-decoration: none;
  color: #311313;
  font-weight: bold;
  font-size: 17px;
}

.addproject-btns a {
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.add_projects{
  background-color: var(--primary-color);
  color: #120f1b;
}


.add_projects:hover {
  background-color: #7d7a7a ;
}



/*------Add Project-------*/



.addproject{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 150px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
}


.addproject form{
  margin-top: 20px;
  margin-bottom: 20px;
}


.register-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

button .addproject-button{
  width: 150px;
  padding: 20px;
  background :blueviolet;
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

button .addproject-button:hover{
  width: 150px;
  background: yellow;
  border: 1px solid black;
  color: #fff;
}






/*-----Details-----*/

.section{
  
  width: 60%;
  overflow: hidden;
  margin: auto 18%;
}


.details-reviews-container{
  width: 60%;
  margin-top: 150px;
  padding: 10px 2%;
  float: left;
  position: relative;
}


.details_content {
  padding: 10px 1%;
  width: 30%;
  float: left;
  margin-right: 1%; 
}

.details-content h2{
  font-size: 20px;
  text-align: center;
  border: 1px solid rgb(34, 33, 33);
  background: linear-gradient(to right, #bdaaaa, #98a0b8);
} 

.details-content p{
  font-size: 18px;
  font-style:initial;
  padding-top: 10px;
} 

.details-content img{
  width:98%;
  
}

.review{
  margin-top: 160px;
  width: 38%;
  float: right;
 
  border-left: 1.8px inset black;
  border-right: 1.8px inset black;
 
}

.review h1{
  font-size: 18px;
} 

.review h2{
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  color: white;
  background: black;
} 

.review p{
  font-size: 13px;
  font-style:initial;
  padding-top: 4px;
} 


.noreview{
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
} 


.review p .url{
  font-size: 10px;
  font-style:initial;
  padding-top: 4px;
} 


.review h3{
  font-size: 10px;
  
  padding-top: 4px;
}
.rating{
  padding-bottom: 4px;
  font-size: 12px;
  color: #f7bc18;
  border-bottom: 1px solid black;
}


.review-btns a {
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  
}

.review-btns .btns{
  color: #120f1b;
}


.review-btns .btns:hover {
  background-color: #7d7a7a ;
}


/*------Review-----*/

.addreview{
  width: 62%;
  border: 1px solid #ddd;
  margin: 20px auto;
  margin-top: 180px;
  padding: 5%;
  text-align: left;
  font-size: 20px;
}


.addreview form{
  margin-top: 25px;
}


.addreview-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.addreview-button{

  width: 90px;
  background :#183e73;
  color: #fff;
  border: 1px solid rgb(26, 20, 20);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.addreview-button:hover{
  width: 90px;
  background: rgb(108, 38, 220);
  border: 1px solid rgb(223, 15, 15);
  color: #fff;
}












/*------Blog--------*/

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
}


.blog-title h1 {
  color: #000;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to top, #e1dcdb, #627c9f);;
  color: #121213;
  

}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-item {
  background-color: #d7d9df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(173, 52, 62, 0.1);
  margin-bottom: 30px;
  width: calc(33.33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.blog-item:hover {
  transform: translateY(-10px);
}

.blog-item .blog-img {
  height: 180px;
  background-color: #a19191;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.blog-item .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item .blog-text span {
  color: #1b1818;
  font-size: 20px;
}
.blog-item .blog-text h3 {
  gap: 2rem;
  font-size: 0rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58) ;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  
}

.btns {
  background: linear-gradient(to left #454359 #36639e);
  color: #7b6f6f;
}


.btns:hover {
  background-color: #7d7a7a ;
}

.blog-item .blog-text h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2b7a85;
}

.blog-item .blog-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #151111;
  margin-bottom: 10px;
}

.blog-item .blog-text a {
  display: inline-block;
  text-decoration: none;
  color: #311313;
  font-weight: bold;
  font-size: 17px;
}

.addblog-btns a {
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.addblog-btns .btns{
  background-color: var(--primary-color);
  color: #120f1b;
}


.addblog-btns .btns:hover {
  background-color: #7d7a7a ;
}



/*------Add Blog-------*/

.addblog{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 150px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
  background: #b3b0b0;
}


.addblog form{
  margin-top: 20px;
  margin-bottom: 20px;
}


.addblog-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.addblog-button{
  width: 150px;
  background :rgb(134, 115, 152);
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.addblog-button:hover{
  width: 150px;
  background: rgb(152, 152, 139);
  border: 1px solid black;
  color: #fff;
}





/*-----Skill and everything about skill----*/


.skill-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 150px 0;
}


.skill-title h1 {
  color: #000;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to top, #e1dcdb, #627c9f);;
  color: #121213;
  

}


.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  background-color: #d7d9df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(173, 52, 62, 0.1);
  margin-bottom: 30px;
  width: calc(33.33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-10px);
}

.skill-item .skill-img {
  height: 180px;
  background-color: #a19191;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.skill-item .skill-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-item .skill-text span {
  color: #1b1818;
  font-size: 20px;
}
.skill-item .skill-text h3 {
  gap: 2rem;
  font-size: 0rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58) ;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  
}

.btns {
  background: linear-gradient(to left #454359 #36639e);
  color: #7b6f6f;
}


.btns:hover {
  background-color: #7d7a7a ;
}

.skill-item .skill-text h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2b7a85;
}

.skill-item .skill-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #151111;
  margin-bottom: 10px;
}

.skill-item .skill-text a {
  display: inline-block;
  text-decoration: none;
  color: #311313;
  font-weight: bold;
  font-size: 17px;
}

.addskill-btns a {
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.addskill-btns .btns{
  background-color: var(--primary-color);
  color: #120f1b;
}


.addskill-btns .btns:hover {
  background-color: #7d7a7a ;
}



/*------Add Blog-------*/

.addskill{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 180px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
  background: #b9bdc2;
}


.addskill form{
  margin-top: 20px;
  margin-bottom: 20px;
}


.addskill-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.addskill-button{
  width: 150px;
  background :rgb(134, 115, 152);
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.addskill-button:hover{
  width: 150px;
  background: rgb(152, 152, 139);
  border: 1px solid black;
  color: #fff;
}





/*----Edit Profile----*/


.editprofile{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 160px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
  background-color: #ccc0c0;
}


.editprofile h2{
  
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  
}


.editprofile form{
  margin-top: 25px;
}


.register-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.editprofile-button{

  width: 150px;
  background :rgb(134, 115, 152);
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.editprofile-button:hover{
  width: 150px;
  background: rgb(152, 152, 139);
  border: 1px solid black;
  color: #fff;
}