.navUL li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}


.navUL li a:hover{
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}





/* @media only screen and (max-width: 680px) {

  

}



@media only screen and (min-width: 689px) and (max-width: 1099px) {


} */







/*----Login-------*/

.container {
  background-color: linear-gradient(to top, #e6baba, #98a0b8);
  color: #1f2937;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: auto auto;
  padding: 0;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(161, 151, 151, 0.35); 
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
 top: 220px;
  
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 13px;
}

.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button{
  background: linear-gradient(to right, #4b549e, #6081e4);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}


.container .hidden{
  background-color: transparent;
  background:  linear-gradient(to right, #bdaaaa, #98a0b8);
  font-size: 13px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 1000px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  border-color: #3b3a3a;
}



.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 40px;
  height: 100%;
  
}



.form-group{
  background-color: #eee;
  border: none;
  margin: 6px 0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}



.form-container{
  position: absolute;
  top: 8px;
  height: 100%;
  
}


.sign-in{
  left: 0;
  width: 50%;
  z-index: 1;
}




.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}





.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}


.toggle{
 
  height: 100%;
  background: linear-gradient(to top, #6c4a3e, #1a539e);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
 
}


.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}




/*-----Register-----*/


.register{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 112px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
}


.register h2{
  
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  
}


.register form{
  margin-top: 25px;
}


.register-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

button .signup-button{

  width: 150px;
  background :blueviolet;
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

button .signup-button:hover{
  width: 150px;
  background: yellow;
  border: 1px solid black;
  color: #fff;
}


/*--About---*/


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
}



.title-one{
  
  letter-spacing: 1px;
  color: #1f2937;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 30px;
}

.title-two{
  max-width: var(--max-width);
  font-size: 1.5rem;
  position: inherit;
  font-weight: 800;
  line-height: 45px;
  color: #1f2937;
  margin-bottom: 20px;
}

.about-description{
  line-height: 40px;
  color: #1f2937;
  margin-bottom: 80px;
  text-align: left;
  letter-spacing: 1px;

}


.resume-btns a{
  
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  word-spacing: 0.8px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid #a01f1f;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  
}

.resumes{
  position: relative;

  background-color: #1f2937;
  color: #fff;
}

.resumes:hover{
  background-color: #be2424;
}

.about-image{
  display: grid;
  place-items: center;
}

.about-image img{
  width: min(20rem, 70%);
  margin-top: 100px;
  border-radius: 80px;
}


/*----Contact------*/


.contact{
  width: 62%;
  border: 1px solid #ddd;
  margin: 20px auto;
  margin-top: 150px;
  padding: 5%;
  text-align: left;
  font-size: 20px;
  background-color: #ddd;
}

.contact h2{
  font-weight:700;
  font-size: 40px;
  text-align: center;
}


.contact form{
  margin-top: 25px;
}


.contact-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

 .contact-button{
  width: 150px;
  background :rgb(102, 97, 154);
  color: #e9e4ed;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

button .contact-button:hover{
  width: 150px;
  background: rgb(214, 214, 205);
  border: 1px solid black;
  color: #fff;
}

.footer-container{
  width: 62%;
  border: 1px solid #ddd;
  margin: 40px auto;
  text-align: left;
  font-size: 20px;
  background: #ddd;
}

.footer-container h1{
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}


.social-icons {
  display: flex;
  justify-content: center;
 

}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;
  color: rgb(100, 63, 63);
  opacity: 0.9;
}


.social-icons a:hover {
  background-color: balck;
  transition: 0.5s;
}

.social-icons a:hover i {
  color: rgb(98, 91, 131);
  transition: 0.5s;
}


/*----Show Profile---*/

.profile-container{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  text-align: center;
  padding: 40px 90px;
  columns: #ddd;
  position: relative;
  border-radius: 20px;
}

.profile-box p{
  font-size: 35px;
}

.profile-box h1{
 margin: 20px 20px;
 padding: 5px 5px;
 font-size: 25px;
}


.profile-pic {
 width: 150px;
 border-radius: 50%;
 background: #fff;
 padding: 6px;
 
}

.profile-pic img{
  width: 100px;
}

.editprofile-button{

  width: 150px;
  border: 1px solid rgb(14, 6, 6);
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.editprofile-button:hover{
  border: 1px solid black;
}









/*-----Skill and everything about skill----*/


.skill-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 150px 0;
}


.skill-title h1 {
  color: #000;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to top, #e1dcdb, #627c9f);;
  color: #121213;
  

}


.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  background-color: #d7d9df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(173, 52, 62, 0.1);
  margin-bottom: 30px;
  width: calc(33.33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-10px);
}

.skill-item .skill-img {
  height: 180px;
  background-color: #a19191;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.skill-item .skill-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-item .skill-text span {
  color: #1b1818;
  font-size: 20px;
}
.skill-item .skill-text h3 {
  gap: 2rem;
  font-size: 0rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid rgb(103, 58, 58) ;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  
}

.btns {
  background: linear-gradient(to left #454359 #36639e);
  color: #7b6f6f;
}


.btns:hover {
  background-color: #7d7a7a ;
}

.skill-item .skill-text h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2b7a85;
}

.skill-item .skill-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #151111;
  margin-bottom: 10px;
}

.skill-item .skill-text a {
  display: inline-block;
  text-decoration: none;
  color: #311313;
  font-weight: bold;
  font-size: 17px;
}

.addskill-btns a {
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0rem 1rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.addskill-btns .btns{
  background-color: var(--primary-color);
  color: #120f1b;
}


.addskill-btns .btns:hover {
  background-color: #7d7a7a ;
}



/*------Add Blog-------*/

.addskill{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 180px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
  background: #b9bdc2;
}


.addskill form{
  margin-top: 20px;
  margin-bottom: 20px;
}


.addskill-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.addskill-button{
  width: 150px;
  background :rgb(134, 115, 152);
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.addskill-button:hover{
  width: 150px;
  background: rgb(152, 152, 139);
  border: 1px solid black;
  color: #fff;
}





/*----Edit Profile----*/


.editprofile{
  width: 64%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 160px;
  padding: 1%;
  text-align: left;
  font-size: 22px;
  background-color: #ccc0c0;
}


.editprofile h2{
  
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  
}


.editprofile form{
  margin-top: 25px;
}


.register-child {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.editprofile-button{

  width: 150px;
  background :rgb(134, 115, 152);
  color: #fff;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.editprofile-button:hover{
  width: 150px;
  background: rgb(152, 152, 139);
  border: 1px solid black;
  color: #fff;
}