{% extends 'index.html' %}
{% load static %}

{% block title %}About{% endblock%}

{% block body %}

<section class="aboutSection">
    <div class="aboutContainer">
        <div class="aboutImage">
            <img src="{% static 'image/about.png' %}" />
        </div>

        <div class="aboutDescription">
            <h1 class="title-one">Hello!</h1>
            <h3 class="title-two">Here's who I am & what I do...</h3>

            <p>Welcome here, I'm Harunur Rashid, a passionate fresh backend developer. I am skilled in Python, Django
                and SQL. Stay connected and find my project in this portfolio.</p>
        </div>

        <div class="resumeBtn">
            <a  href="{% url 'download' %}" class="btn btn-pink">DOWNLOAD RESUME</a>
        </div>

    </div>
</section>

{% endblock %}