
{% extends 'index.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="contact">
  <h2>GET IN TOUCH</h2>
  <form method="POST">
    <div class="contact-child">
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <div>
      <button class="contact-button">Send message</button>
    </div>
  </form>
  
</div>

<div class="footer-container">
  <h1>CONTACT VIA SOCIAL MEDIA</h1>
  <div class="social-icons">
    
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/harun_evan/"><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brnads fa-google-plus"></i></a>
  </div>

</div>


{% endblock %} 

