

{% extends "index.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="loginSection">
  <div class="container" id="container">
    
    <div class="form-container sign-in">
      <form method="POST">
        {% csrf_token %}
        <h1>Sign In</h1>
        <span>Use your username & password for sign in</span>
        {{ login_form.as_p }}
        <a href="#">Forget Your Password?</a>
        <button id="authButton">Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>Greetings buddy! Don't have account?</h1>
                <p>Click for register</p>
                <button><a id="authButton" href="{% url 'register' %}">Sign Up</a></button>
            </div>
        </div>
    </div>
  </div>
</section>


{% endblock %}