{% extends 'index.html' %}
{% load static %}

{% block title %}Project Details{% endblock %}

{% block body %}

<section class="detailsSection">

    <div class="detailsContainer">
        <div class="projectDetails">
            <h1>Project Details</h1>

            <h2>Title: <span>{{ project_details.title }}</span></h2>
            <p>Category: <span>{{ project_details.project_category }}</span></p>
            <p>Technologies: <span> {{ project_details.technologies_used }}</span> </p>
            <p>Description: <span>{{ project_details.description }}</span></p>
            <img src="{{ project_details.image.url }}" alt="{{ project_details.title }}">
            <p class="url">URL: <a href="{{ project_details.url }}">{{ project_details.url }}</a></p>


        </div>

        <div class="projectReview">
            <h2 class="title">VIEWERS REVIEW</h2>
            <div class="reviewContainer">
                {% if reviews %}
                {% for r in reviews %}
                <div class="reviewCard">
                    <h1>rating: {{r.rating}}</h1>
                    <div class="projectRating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star-half"></i>
                        <i class="far fa-star-half"></i>
                    </div>
                    <p>
                        {{r.review}}
                    </p>

                </div>
                {% endfor %}
                {% else %}
                <h1 class="noreview">No reviews yet</h2>
                    {% endif %}
            </div>
        </div>

        <div class="reviewBtn">
            <a href="{% url 'review' %}" class="btn btn-pink">Review+</a>
        </div>

    </div>


</section>



{% endblock %}