
{% extends 'index.html' %}
{% load static %}

{% block title %}Project{% endblock %}

{% block body %}

<main>
    <section class="projectSection">

        <h3>All projects</h3>

        <div class="projectContainer">
            {% if project %}
            {% for p in project %}

            <div class="singleProject">

                <div class="imageProject">
                    <img src="{{ p.image.url }}" alt="">
                </div>

                <h2>{{ p.title }}</h2>

                <div class="rating">
                    {% if p.avg_rating %}
                    <span> {{ p.avg_rating }} </span>
                    {% else %}
                    <span>No ratings yet.</span>
                    {% endif %}
                </div>

                <a href="{% url 'project_details' p.pk %}"><i class="fa-solid fa-circle-info"></i></a>

            </div>

            {% endfor %}

            {% else %}
            <div>
                <h3>No projects to show!</h3>
            </div>
            {% endif %}
        </div>

        <div class="addProjectBtn">
            <a href="{% url 'add_project' %}">Add Project+</a>
        </div>

       

    </section>

</main>

{% endblock %}