{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock%}

{% block content %}

<section class="home-section">
  <div class="home-container">
    <div class="home-content">
     
        <label for="check" class="checkbox">
          <i class="ri-menu-line"></i>
        </label>
      <p class="home-subtitle">HELLO</p>
      <h1 class="title">
        I'm <span>Mitchell<br />a</span> Web Developer
      </h1>
      <p class="home-description">
        Here at my portfolio, Welcome! Creating stunning, responsive, and user-friendly wibsites is my passion as a
        proficient backend developer. I've contributed to several project from e-commerce sites to personal blogs.
      </p>
      <div class="showproject-btns">
        <a class="btns" href="{% url 'show_project' %}">Show Project</a>
      </div>
    </div>

    <div class="image">
      <img src="{% static 'image/picture.png' %}" alt="profile" />
    </div>

  </div>

</section>

{% endblock %}