{% extends 'base.html' %}
{% load static %}

{% block title %}Project Details{% endblock %}

{% block content %}

<section class="details-section">
    <div class="details-container">
        <div class="details-content">
            <h2>{{ project_details.title }}</h2>
            <p>Category: {{ project_details.project_category }}</p>
            <p>Technologies Used: {{ project_details.technologies_used }}</p>
            <p>Description: {{ project_details.description }}</p>
            {% if project_details.image %}
            <img src="{{ project_details.image.url }}" alt="{{ project_details.title }}">
            {% endif %}
            <p>URL: <a href="{{ project_details.url }}">{{ project_details.url }}</a></p>
        </div>
        <div class="review-btns">
            <a class="reviews" href="{% url 'review' %}" class="btn btn-pink">Add Review+</a>
        </div>

    </div>
</section>

{% endblock %}