{% extends 'base.html' %}
{% load static %}

{% block title %}Skill{% endblock%}

{% block content %}

    <div class="skill-container">
        <div class="skill-title">
            <h1><b>MY SKILL</b></h1>
        </div>
        <br/>

        <section>
            <div class="addskill-btns">
              <a class="btns" href="{% url 'add_skill' %}">+ADD SKILL</a>
            </div>
          </section>
          <br/>
       

       <div class="skill-content">
            {% if skill %}
            {% for i in skill %}

            <div class="skill-item">
                <div class="skill-img">
                    <img src="{% static 'image/skill.jpg' %}">
                </div>
                <div class="skill-text">
                    <span>{{ i.title }}</span>
                    <h2>{{ i.skill_category }}</h2>
                    <p>{{ i.description }}</p>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div>
                <h3><b>No skill to show!</b></h3>
            </div>

            {% endif %}

        </div>
    </div>
</section> 








{% endblock %}







